<div *ngIf="dataLoaded==false" class="spinner-border text-secondary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterTextColor" placeholder="renk ara">
</div>
<ul *ngIf="dataLoaded==true" class="list-group">
  <li [class]="getAllColorClass()" routeLink="/cars">Tüm Renkler</li>
  <li (click)="setCurrentColor(color)" [class]="getCurrentColorClass(color)" routerLink="/cars/colors/{{color.id}}"
    *ngFor="let color of colors  |colorFilterPipe:filterText">{{color.name}}</li>
</ul>