<div class="row mb-2">
    <div class="col col-4">
      <select [(ngModel)]="filterBrandId" class="form-select">
        <option *ngFor="let brand of brands" [value]="brand.id" [selected]="getSelectedBrand(brand.id)" aria-placeholder="Marka seçiniz">      
          {{ brand.name |uppercase}}
        </option>
  
      </select>
    </div>
    <div class="col col-4">
      <select [(ngModel)] = "filterColorId" class="form-select" >
        <option *ngFor="let color of colors" [value]="color.id" [selected] = "getSelectedColor(color.id)">
          {{ color.name |uppercase}}
        </option>
  
      </select>
    </div>
    <div class="col col-2">
      <div class="btn-group">
        <button routerLink="/cars/filter/{{ filterBrandId }}/{{ filterColorId }}" type="button" class="btn btn-sm btn-primary">
          Filtrele</button>
      </div>
    </div>
    <div class="col col-2">
      <div class="btn-group">
        <button routerLink="/cars" type="button" class="btn btn-sm btn-outline-danger">Temizle</button>
      </div>
    </div>
  </div>